
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/teacher.css">
</head>
<body>
	<center>
<form method="POST" action="">
	<div>
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<h2 class="h2-style"><b>TEACHER FUNCTIONALITY</h2>

					<a class="a-style" href="../view/addstudent.php"> Add Student</a><br>

					<a class="a-style" href="../view/showallstudent.php"> Show All Student</a><br>

					<a class="a-style" href="note_notice.html"> Upload Notice/Note</a><br>

					<a class="a-style" href="view_all.html"> View All Note/Notice</a><br>

					<a class="a-style" href="published_result.php"> Published Result</a>

					<br><br>
				</fieldset>
			</td>
		</tr>
	</table>
	</div>
</form>
</center>
</body>
</html>
