<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/viewnote_notice.css">
</head>
<body>
<center>
	<div class= "main">
<form method="POST" action="">
	
					<div class="form"><h1>Veiw All Note/Notice</h1></div>
					<br>
					
					<a href="../php/all_note.php">Veiw All Note</a><br>
					<a href="../php/all_notice.php"> Veiw All Notice</a><br>
					<a href="teacher.html">Home page</a>
					<br>
					<br>
				
</form>
</center>
</div>
</body>
</html>