<center>
<form method="POST" action="../php/addstudent.php">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>

				<fieldset>
					<legend><h2><b>ADD STUDENTS</h2></legend>
					<table>
						<tr>
							<td>Student ID: </td>
							<td> <input type="text" name="id" required>
		                    <hr>
		                    </td>
						</tr>
						<tr>
		                    <td>Student Name: </td>
		                    <td> <input type="text" name="studentname" required >
		                    <hr>
		                    </td>
               		    </tr>
               		    <tr>
		                    <td>Father Name: </td>  
		                    <td> <input type="text" name="fathername" required >
		                    <hr>
		                    </td>
               		    </tr>
               		    <tr>
		                    <td>Mother Name: </td> 
		                    <td> <input type="text" name="mothername" required >
		                    <hr>
		                    </td>
               		    </tr>
               		    <tr>
		                    <td>Date Of Birth: </td>
		                    <td><input type="date" name="dob" required>
		                    <hr>
		                    </td>
                		</tr>
                		<tr>
		                    <td>Contact Number: </td>
		                    <td> <input type="text" name="contact_number" required >
		                    <hr>
		                    </td>
               		    </tr>
               		    <tr>
		                    <td>Email: </td>
		                    <td><input type="email" name="email" required>
		                    <hr>
		                    </td>
		                </tr>
		                <tr>
		                    <td colspan="2">
		                        <fieldset>
		                            <legend>Gender</legend>
		                            <input type="radio" name="gender" id="" value="Male">Male
		                            <input type="radio" name="gender" id="" value="Female">Female
		                            <input type="radio" name="gender" id="" value="Other">Other
		                        </fieldset>
		                        <hr>
                    		</td>
                		</tr>
                		<tr>
		                    <td colspan="2">
		                        <fieldset>
		                            <legend>Department</legend>
		                            <input type="radio" name="dept" id="" value="EEE">EEE
		                            <input type="radio" name="dept" id="" value="COE">COE
		                            <input type="radio" name="dept" id="" value="CSE">CSE
		                            <input type="radio" name="dept" id="" value="SE">SE
		                            <input type="radio" name="dept" id="" value="CIS">CIS
		                            <input type="radio" name="dept" id="" value="BBA">BBA
		                        </fieldset>
		                    <hr>
                    		</td>
                		</tr>
                		<tr>
		                    <td colspan="2">
		                        <fieldset>
		                            <legend>Blood Group</legend>
		                            <input type="radio" name="blood" id="" value="ops">O+
		                            <input type="radio" name="blood" id="" value="oneg">O-
		                            <input type="radio" name="blood" id="" value="Bpos">B+
		                            <input type="radio" name="blood" id="" value="b-">B-
		                            <input type="radio" name="blood" id="" value="ab+">AB+
		                            <input type="radio" name="blood" id="" value="ab-">AB-
		                        </fieldset>
		                    <hr>
                    		</td>
                		</tr>
		                <tr>
							<td>Nationality: </td>
							<td> <input type="text" name="nationality" required>
		                    <hr>
		                    </td>
						</tr>
						<tr>
							<td>Religion: </td> 
							<td> <input type="text" name="religion" required>
		                    <hr>
		                    </td>
						</tr>
                		<tr>
          				  <td>Picture: </td>
          				  <td><input type="file" name="picture" required>
	            		  <hr>
	            		  </td>
                		</tr>
               		    <tr>
		               		<td colspan="2">
		                       <input type="submit" name="submit" value="submit">
		                       <button type="reset">Reset</button>
		                    </td>
               		    </tr>
					
					</table>
					

					<br/>
				</fieldset>
			</td>
		</tr>                                
	</table>
</form>
</center>