<center>
<form method="POST" action="">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<fieldset>
					<legend><h2><b>TEACHER FUNCTIONALITY</h2></legend>
					<hr/>
					<a href="addstudent.html">1. Add Student</a><br>
					<hr/>
					<a href="../php/showallstudent.php">2. Show All Student</a><br>
					<hr/>
					<a href="note_notice.html">3. Upload Notice/Note</a><br>
					<hr/>
					<a href="view_all.html">4. View All Note/Notice</a><br>
					<hr/>
					<a href="published_result.html">5. Published Result</a>
					<hr/>
					<br><br>
				</fieldset>
			</td>
		</tr>                                
	</table>
</form>
</center>